/* General */
body {
    font-family: 'Roboto', sans-serif;
}
/* Header */
header {
    background-color: #000000;
    padding-top: 25px;
}
.social-header{
    margin-top: 12px;
}
   .social-header a {
      color: #fff;
  }

    .social-header a .fa-inverse {
       color: #2a1000;
    }

.menu-bar {
    background-color: #a6ff00;
    margin-top: 20px;
}
    .menu-bar a {
        color: #2a1000;
        font-size: 16px;
        font-weight: 500;
    }

        .menu-bar a:hover {
            text-decoration: none;
            color: #fff;
        }

        .menu-bar carro {
            color:#fff;
            left: 0;
        }

.menu-list {
    padding: 12px 0;
    margin-bottom: 0;
}

.menu-list > li:not(:last-child) {
    margin-right: 40px;
}

/* Content */

/* Carrusel */
#slider-home {
    margin-bottom: 50px;
}

.carousel-caption {
    background-color: rgba(41,23,1,0.75);
    height: 100%;
    Left: 0;
    top: 0;
    padding: 30px 45px;
    text-align: left;
    width: 340px;
}
    .carousel-caption p {
        font-size: 14px;
        line-height: 18px;
    }

    .carousel-caption h2 {
        font-size: 26px;
        line-height: 30px;
    }

    .carousel-caption .h4 {
        font-size: 20px;
        margin-bottom: 30px;
        margin-top: 0px;
    }

    .carousel-caption img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .carousel-caption a {
        border-radius: 0;
        font-weight: bold;
        color: #291701;
        border: none;
    }

/* Footer */
footer {
    background-color: #a6ff00;
    font-size: 12px;
    padding: 10px 0;
}

    footer ul {
        margin-bottom: 0;
    }

    footer a:hover {
        color: #fff;
        text-decoration: none;
    }

/* Footer sidebars */

.sidebars-zone {
    background-color: #e0e0e0;
    padding-top: 20px;
}

    .sidebars-zoneh4 {
        font-size: 20px;
        border-bottom: 1px solid #9e9e9e;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }
