{% extends "core/base.html" %}
{% block title %} Inicio de sesion {% endblock %}
{% block content %}
    <div class="container-fluid">
      <div class="col-md-4" style="margin-left: 5%;">
          <form method="post" action="">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
              <label for="{{ field.id_for_label }}" class="form-label">{{ field.html_name|capfirst }}</label>
              <input type="{{ field.html_name }}" class="form-control" name="{{ field.html_name }}">
              <div id="emailHelp" class="form-text">{{ field.help_text }}</div>
            </div>
            {% endfor%}
            {% if messages %}
            {% for mensaje in messages%}
            <span class="alert alert-{{mensaje.tags}}">{{mensaje}}</span> 
            {% endfor %}
            {% endif %}
            <button type="sumbit" class="btn btn-primary">iniciar</button>
          </form>
          <p style="margin-top: 4%;"> <a href="{% url 'registro' %}"> Crear cuenta</a> </p>
        </div>
        <div class="col-sm-1 col-md-2"></div>
      </div>
{% endblock%}