{% extends "core/baseT.html" %}
{% block title %} INICIO {% endblock %}
{% block content %}
  <div id="main">

    <!-- Carrusel -->

    <div class="container">
      <div id="slider-home" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#slider-home" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#slider-home" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#slider-home" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">

          <div class="carousel-item active">
            <img src="static\core/img/slider.jpg" class="d-block w-100" alt="Primer-Slide">
            <div class="carousel-caption">
            </div>
          </div>

          <div class="carousel-item">
            <img src="static\core/img/slider2.jpg" class="d-block w-100" alt="Segundo-Slide">

          </div>
          <div class="carousel-item">
            <img src="static\core/img/slider3.jpg" class="d-block w-100" alt="Tercer-Slide">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---productos-->
  <div class="container-fluid col-md-8" style="margin-left: 15%; margin-right: 15%; margin-bottom: 8%;">

    <div class="lista col-12">
      <h4 id="productos">Productos destacados</h4>
    </div>
    <!--card -->
    <div class="row row-cols-2 row-cols-md-3 g-4 ">
      {% for pr in producto %}
      <div class="col">
        <div class="card">
          {% if pr.imagen %}
          <img id="img_pt" src="{{ pr.imagen.url }}" style="width: 14rem;height: 14rem; padding: 5%;">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{pr.nombreP}}</h5>
            <p class="card-text">Precio: ${{pr.precio}}</p>
            <a href="{% url 'form_produc' pr.nombreP %}"><button type="button"
                class="btn btn-success openBtn">Comprar</button></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!--acá termina los productos-->
{% endblock%}