{% extends "core/baseIR.html" %}
{% block title %} REGISTRO {% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="col-md-4" style="margin-left: 5%;">

    <form method="post" action="{% url 'registro'%}">
      {% csrf_token %}
    
      <!-- USUARIO -->
      <div class="mb-2">
        <label for="{{ form.username.id_for_label }}" class="form-label"> Usuario</label>
        <input type="text" class="form-control" name="{{ form.username.html_name }}">
        <small class="form-text text-muted"> {{ form.username.help_text }}</small>
      </div>
      <!-- CONTRASEÑA -->
      <div class="mb-2">
        <label for="{{ form.password1.id_for_label }}" class="form-label">Contraseña</label>
        <input type="password" class="form-control" name="{{ form.password1.html_name }}">
          <small class="form-text text-muted"> {{ form.password1.help_text }}</small>
      </div>
      <!-- CONFIRMAR CONTRASEÑA -->
      <div class="mb-2">
        <label for="{{ form.username.id_for_label }}" class="form-label">Confirmar contraseña </label>
        <input type="password" class="form-control" name="{{ form.password2.html_name }}">
        <div class="unstyle">
          <div id="emailHelp" class="form-text">{{ form.password2.help_text }}</div>
        </div>
      </div>
      <small class="form-text text-danger"> {{form.errors}}</small>

      <button type="sumbit" class="btn btn-primary">Registrate</button>
  </form>
  <p class="mt-4"> <a href="{% url 'iniciar_sesion' %}"> Iniciar sesion</a> </p>
  </div>
  
</div>
    
{% endblock %}